.header {
  position: relative;
  width: 1350px;
  height: 90px;
  
  left: 0px;
  top: 0px;
  
  display: flex;
  
  background-color: #F1EAF6;
  filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.25));
}

.icon {
  margin-top: 5px;
  margin-left: 25px;
}

.nameAtelier {
  margin-left: 10px;
  
}