.table {
  font-family: 'Thasadith', sans-serif;
  font-weight: 700;
}

.table-box {
  margin-top: 40px;
}

.firstLine {
  color: white;
  
  font-size: 19px;

  background-color: #22162B;
  margin-left: 35px;
  margin-right: 45px;

  display: flex;
  justify-content: space-around;
  /*flex-direction: row;*/
}

.data {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-size: 17px;

  margin-left: 35px;
  margin-right: 45px;
  overflow: auto; /*scrollbar*/
  height: 280px;
}
