label {
  font-family: 'Thasadith', sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: #ffffff;

  text-align: center;
  position: relative;
  margin:15px;
  width: 234px;
  height: 175px;
  border-radius: 10px;
  background-color: #22162B;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.notSelectable {
  -webkit-touch-callout: none;  /* iPhone OS, Safari */
  -webkit-user-select: none;    /* Chrome, Safari 3 */
  -khtml-user-select: none;     /* Safari 2 */
  -moz-user-select: none;       /* Firefox */
  -ms-user-select: none;        /* IE10+ */
  user-select: none;            /* Possível implementação no futuro */
  /* cursor: default; */
}

.input {
  width: 23px;
  height: 23px;
}
